<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="#" th:action="@{/email/update}" th:object="${email}" method="post">
    <table>
        <tr>
            <td>Language:</td>
            <td>
                <select th:field="*{language}">
                    <option th:value="English" th:text="English"></option>
                    <option th:value="Vietnamese" th:text="Vietnamese"></option>
                    <option th:value="Japanese" th:text="Japanese"></option>
                    <option th:value="Japanese" th:text="Japanese"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Page Size: </td>
            <td><span>Show </span>
                <select th:field="*{pageSize}">
                    <option th:value="5" th:text="5"></option>
                    <option th:value="10" th:text="10"></option>
                    <option th:value="15" th:text="15"></option>
                    <option th:value="25" th:text="25"></option>
                    <option th:value="50" th:text="50"></option>
                    <option th:value="100" th:text="100"></option>
                </select>
                <span> emails per page</span>
            </td>
        </tr>
        <tr>
            <td>Spam filter: </td>
            <td>
                <div>
                    <input type="checkbox" th:field="*{spam}" th:value="true"/>
                    <span>  Enable spams filter</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Signature: </td>
            <td><textarea rows="5" cols="15" th:field="*{signature}"></textarea> </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" th:value="Update">
                <a th:href="@{/email/}"><button>Cancel</button></a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>